.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.mb-3{
  margin: left;
  padding-top: 50px;
  padding-left: 90px;
  width: 30%;
  
}


.submitBut1{
  position: absolute;
  padding-left: 8.4%;
  padding-top: 50px;
}

.loanEstimateDisplay{
  font-size: small;
  padding-top: 25px;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bs-shadow:focus-within {
  box-shadow: 0 0 0 0.25rem rgba(0, 90, 255, 0.25);
  transition: ease-in 0.1s all;
}

.font-bold {
  font-weight: bold;
}

#main-navbar2 {
  background-color: #006749!important;
}
.extended {
  width: 668px!important;    /* Occupy the 90% of the screen width */
  max-width: 668px!important;
} 